html, body { height: 100%; width: 100%; margin: 0; }
.promo-card-done{
	height: 30px;
	background-color: rgb(63,81,181);
}
.promo-card-progress{
	height: 30px;
	background-color: #259b24;
}

md-content{
	padding: 15px;
}

.studentTable {
    width:100%;
}
.studentTable, .studentHeader, .studentCell {
    border: 1px solid #ccc;
    border-collapse: collapse;
}
.studentHeader, .studentCell {
    padding: 5px;
    text-align: left;
}
.studentRow:nth-child(even) {
    background-color: #eee;
}
.studentRow:nth-child(odd) {
   background-color:#fff;
}
.studentHeader{
	background-color: #ffff00;
}
