<div ng-controller="PromotionalController">
	<div ng-hide="!loading" layout="column" layout-align="center center">
		<md-progress-circular md-mode="indeterminate"></md-progress-circular>
	</div>
	<md-toolbar ng-hide="loading" class="md-toolbar-tools" layout="row" >
		<md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="openLeftMenu()">
	    	<md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
		</md-button>
		<h4>Promotional Builder</h4>
		<span flex></span>
		<h4>{{promo.date}} - {{promo.type}}</h4>
		<span flex></span>
		<md-button class="md-raised" ng-click="showDialog($event)">Add Student +</md-button>
	</md-toolbar>
	<md-tabs md-selected="selectedIndex" md-dynamic-height md-border-bottom md-autoselect>
      <md-tab ng-repeat="t in tabs" label="{{t.tab}}" >

        <md-content id="content">
        	<md-button ng-disabled = "!t.students.length" class="md-raised" ng-click="generateCertificates(t)">Certificates</md-button>
        	<md-button ng-disabled = "!t.students.length" ng-hide = "t.tab == 'All'" class="md-raised" ng-click="generateRankingSheets(t)">Judges Packet</md-button>
        	<div ng-hide="!downloading" layout="column" layout-align="center center">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
			</div>
			<md-card>
				<table class="studentTable">
					<tr class="studentRow">
						<th class="studentHeader">First name</th>
						<th class="studentHeader">Last name</th>
						<th class="studentHeader">Birth date</th>
						<th class="studentHeader">Test Rank</th>
						<th class="studentHeader">Test Color</th>
					</tr>
					<tr class="studentRow" ng-repeat="s in t.students">
						<td class="studentCell">{{s.firstname}}</td>
						<td class="studentCell">{{s.lastname}}</td>
						<td class="studentCell">{{s.birthdate}}</td>
						<td class="studentCell">{{s.applications[promo.$id].testrank}} {{s.applications[promo.$id].kyudan}}</td>
						<td class="studentCell">{{s.applications[promo.$id].testcolor}}</td>
				</table>
			</md-card>
		</md-content>
      </md-tab>
    </md-tabs>
	
</div>