<md-list>
	<md-list-item *ngFor="let promo of promotionals | async" 
	(click)="viewPromotional($event, promo.$key)" 
	(mouseenter)="mouseEnter($event, promo.$key)"
	(mouseleave)="mouseEnter($event, '')"
	[ngClass]="{'promo-selected': promo.$key === selectedPromo, 'promo-hover': promo.$key == hoverPromo}"
	id="{{promo.$key}}"> 
		{{promo.date}} {{promo.youthOnly}}
	</md-list-item>
</md-list>
<div class="sidebar-footer">
	<button class='add-promo btn-add'  (click)="openPromotionalDialog()" md-raised-button><md-icon>add</md-icon> Promotional</button>
</div>

